<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>hiroodaikai-001-site1.atempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://hiroodaikai-001-site1.atempurl.com:8172/MsDeploy.axd?site=hiroodaikai-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>hiroodaikai-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\hiroodaikai-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Remax_Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql7004.site4now.net;Initial Catalog=DB_A38003_UAT;Persist Security Info=True;User ID=DB_A38003_UAT_admin;Password=yanmarsucks66!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="REMAXAPI.Models.Remax_Entities, REMAXAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Remax_Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Remax.csdl|res://*/Models.Remax.ssdl|res://*/Models.Remax.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql7004.site4now.net;Initial Catalog=DB_A38003_UAT;Persist Security Info=True;User ID=DB_A38003_UAT_admin;Password=yanmarsucks66!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>