/*
   Sunday, 10 June 201811:36:58 PM
   User: 
   Server: DESKTOP-5UCBNHV\SQLEXPRESS
   Database: DB_A38003_DEV
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE UNIQUE NONCLUSTERED INDEX IX_Unique ON dbo.Monitoring
	(
	TimeStamp,
	IMO_No,
	SerialNo,
	ChannelNo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.Monitoring SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Monitoring', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Monitoring', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Monitoring', 'Object', 'CONTROL') as Contr_Per 